!!! 5
html
    head
        div(style='background: #0e98f4; font-size: 200%; color: white; text-align: center; padding-bottom: 5px; padding-top: 5px; margin-bottom: 15px;') StriveLabs Developer Center
        - if (apiInfo.name)
            - var title = apiInfo.name + ' API Documentation'
        -else
            - var title = 'API Documentation'
        title=title
        link(rel='stylesheet', href='/stylesheets/prettify.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        block content
        div(id='io-footer')
           div(class='f-left') &copy;
              a(href='http://mashery.com/io') Mashery, Inc.
           div(class='f-right') Powered by
              a(href='https://github.com/mashery/iodocs') I/O Docs
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js')
        script(src='/javascripts/json2.js')
        script(src='/javascripts/prettify.js')
        script(src='/javascripts/utilities.js')
        script(src='/javascripts/livedocs.js')
        script(src='/javascripts/docs.js')
        script(src='/javascripts/bookmarks.js')
